<input type="file" (change)="handleFileInput($event)" />

@if (map() === mapNotFound) {
  <p>Le fichier choisi ne contient pas de carte. <br> 
    Vérifier que le fichier est bien au format .txt et contient bien la mention <b>"C -"</b></p>
} @else if( map()) {
  <div>
    <h3>La carte aux trésors</h3>
    <pre>{{ map() }}</pre>
  </div>
  @if (!adventurers().length) {
    <p>Il n'y a aucun aventurier, donc pas de quête aux trésors !</p>
  }
  @if (adventurers().length) {
    <div>
      <button 
        (click)="simulateAdventure()">Simuler les mouvements des aventuriers
      </button>

      <app-final-configuration [fileContent]="finalFileContent()"></app-final-configuration>
    </div>
  }
}


